* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

}

header {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding: 2rem 5rem;
    color: #fff;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    background: #111;
}

.text {
    font-size: 1.5rem;
    font-weight: bold;

}

header a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-size: 1rem ;

}

/*estilizando a section*/
.swiper {
    height: 35rem; /*altura da sessão*/
    position: relative;/*posição relativa em relaçao a viewport(tela)*/
}

/*estilização das caixas (div) que guardam imagens*/
.swiper-slide {/*aqui estamos chamando umas das caixas */
    background-size: cover;
    background-position: center;
}

.carousel-text {
    position: absolute;/*posiciona o elemento de forma  absoluta dentro do container pai com position : relative*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);/*centraliza o elemento exatamente no meio do container()*/
    color: #f9ffff;
    text-align: center;
    z-index: 10;
    background-color: #11111144;
    padding: 1.3rem;
}

.carousel-text h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.carousel-text p {
    font-size: 1.25rem;
}

.caixa-01 {
    background-image: url(img/Campos-do-Jordao-passeio-de-bondinho-6-dicas-para-turista.jpg);
}

.caixa-02{
background-image: url(img/campos-do-jordao-um-pedaco-da-europa-em-sp-12.jpg);
}

.caixa-03 {
background-image: url(img/natal-campos-do-jordao-0.jpg);
}